*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #424242;

}
body{
    background: #e9bf9c;
}
.center{
    width: 700px;
    margin: 100px auto 0 auto;
    text-align: center;
}
.indexIma{
    width: 260px;
}
input{
    width: 500px;
}

.search, input{
    padding: 5px 10px;
    font-size: 110%;
    vertical-align: middle;
    border: none;
    outline: none;
    border-radius: 5px;
}
.search{
    color: #fff;
    background: #dd2626;
    cursor: pointer;
    text-decoration: none;
}

.camera{
    position: absolute;
    right: 150px;
    top:10px;
    font-size: 110%;
    z-index: 9;
}
.search-div{
    position: relative;
}
  
.search-ul{
    display: block;
    width: 524px;
    margin: 0 40px;
    text-align: left;
    overflow: hidden;
  
    box-sizing: border-box;
    display: none;
}
.search-ul li{
    padding: 5px 20px;   
    background: #fff;
}
.search-ul li:hover{
    background: #ccc;
}
.search-ul  a{
    color: #888;
    text-decoration: none;
}
